<!--
  templateType: "none"
  isAvailableForNewContent: false
-->
{% extends "./base.html" %}
{% block head %}
  {{ require_css(get_asset_url("../../css/portal-layout.css")) }}
  {{ require_css(get_asset_url("../../css/components/cards.css")) }}
  {{ require_css(get_asset_url("../../css/components/tables.css")) }}
  {{ require_css(get_asset_url("../../css/components/badges.css")) }}
  {{ require_css(get_asset_url("../../css/components/buttons.css")) }}
  {{ require_css(get_asset_url("../../css/components/forms.css")) }}
{% endblock %}
{% block body %}
<div class="portal-layout">
  <div class="portal-overlay" data-portal-overlay aria-hidden="true"></div>
  {% module "sidebar" path="../modules/portal-sidebar.module" %}
  <div class="portal-main">
    {% module "header" path="../modules/portal-header.module" %}
    <main class="portal-content" id="main-content">
      {% block portal_content %}{% endblock %}
    </main>
  </div>
</div>
{% endblock %}
{% block scripts %}
  {{ require_js(get_asset_url("../../js/main.js")) }}
{% endblock %}
