<!--
  templateType: page
  isAvailableForNewContent: true
  label: "Portal - Billing"
  screenshotPath: ../images/template-previews/portal-billing.png
  dataQueryPath: ../data-queries/billing
-->
{% extends "./layouts/portal-shell.html" %}
{% block portal_content %}
{% dnd_area "portal_content" label="Main" %}
  {% dnd_section %}
    {% dnd_column %}
      {% dnd_row %}
        {% dnd_module path="../modules/billing-current.module" %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module path="../modules/billing-plans.module" %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}
{% end_dnd_area %}
{% endblock %}
