<!--
  templateType: page
  isAvailableForNewContent: true
  label: "Portal - Profile"
  screenshotPath: ../images/template-previews/portal-profile.png
  dataQueryPath: ../data-queries/hair_profile
-->
{% extends "./layouts/portal-shell.html" %}
{% block portal_content %}
{% dnd_area "portal_content" label="Main" %}
  {% dnd_section %}
    {% dnd_column %}
      {% dnd_row %}
        {% dnd_module path="../modules/hair-profile-display.module" %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module path="../modules/hair-profile-form.module" %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}
{% end_dnd_area %}
{% endblock %}
