<!--
  templateType: page
  isAvailableForNewContent: true
  label: "Portal - Dashboard"
  screenshotPath: ../images/template-previews/portal-dashboard.png
  dataQueryPath: ../data-queries/dashboard
-->
{% extends "./layouts/portal.html" %}
{% block portal_content %}
{% dnd_area "portal_content" label="Main" %}
  {% dnd_section %}
    {% dnd_column %}
      {% dnd_row %}
        {% dnd_module path="../modules/dashboard-stats.module" %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module path="../modules/production-alert.module" %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module path="../modules/recent-orders.module" %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module path="../modules/quick-actions.module" %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}
{% end_dnd_area %}
{% endblock %}
