<!--
  templateType: error_page
  isAvailableForNewContent: true
  label: "Portal - 404"
-->
{% extends "../layouts/base.html" %}
{% block head %}
  {{ require_css(get_asset_url("../../css/templates/system.css")) }}
  {{ require_css(get_asset_url("../../css/components/buttons.css")) }}
{% endblock %}
{% block body %}
<div class="error-page">
  <div>
    <h1>404</h1>
    <p>We could not find that page.</p>
    <p><a class="hs-btn hs-btn--primary" href="/portal">Go to dashboard</a></p>
  </div>
</div>
{% endblock %}
