<!--
  templateType: membership_register_page
  isAvailableForNewContent: true
  label: "Portal - Register"
-->
{% set template_css = "../../css/templates/system.css" %}
{% set pageTitle = "Portal | Register" %}
{% extends "../layouts/base.html" %}
{% block body %}
<div class="membership-page">
  <div class="membership-card">
    {% if theme.portal.logo.src %}
    <img src="{{ theme.portal.logo.src }}" alt="Hair Solutions" class="membership-logo">
    {% endif %}
    <h1>Create your account</h1>
    {% member_register "portal_register"
      email_label="Email",
      password_label="Password",
      password_confirm_label="Confirm password",
      submit_button_text="Create account"
    %}
  </div>
</div>
{% endblock %}
