<!--
  templateType: membership_login_page
  isAvailableForNewContent: true
  label: "Portal - Login"
-->
{% set template_css = "../../css/templates/system.css" %}
{% set pageTitle = "Portal | Log in" %}
{% extends "../layouts/base.html" %}
{% block body %}
<div class="membership-page">
  <div class="membership-card">
    {% if theme.portal.logo.src %}
    <img src="{{ theme.portal.logo.src }}" alt="Hair Solutions" class="membership-logo">
    {% endif %}
    <h1>Welcome back</h1>
    {% member_login "portal_login"
      email_label="Email",
      password_label="Password",
      remember_me_label="Remember me",
      reset_password_text="Forgot your password?",
      submit_button_text="Log in"
    %}
  </div>
</div>
{% endblock %}
