<!--
  templateType: membership_reset_page
  isAvailableForNewContent: true
  label: "Portal - Set new password"
-->
{% set template_css = "../../css/templates/system.css" %}
{% set pageTitle = "Portal | New password" %}
{% extends "../layouts/base.html" %}
{% block body %}
<div class="membership-page">
  <div class="membership-card">
    {% if theme.portal.logo.src %}
    <img src="{{ theme.portal.logo.src }}" alt="Hair Solutions" class="membership-logo">
    {% endif %}
    <h1>Choose a new password</h1>
    {% password_reset "portal_password_reset"
      password_label="Password",
      password_confirm_label="Confirm password",
      submit_button_text="Save password"
    %}
  </div>
</div>
{% endblock %}
